MYSQL_ROOT_PASSWORD=rootlocalpw
MYSQL_DATABASE=lptv_local
MYSQL_USER=lptv
MYSQL_PASSWORD=lptvlocalpw
WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=lptv_local
WORDPRESS_DB_USER=lptv
WORDPRESS_DB_PASSWORD=lptvlocalpw
SITE_DOMAIN=licenseplates.local
